.trigger-options-content {
  display: flex;
  gap: 16px;
  &.is-add {
    color: rgba(#000, 0.8);
  }
}

.scene-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;

  .scene-header-type {
    display: flex;
    align-items: center;
    min-width: 100px;
    margin-left: 16px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}
