.firmwareDetailCard {
  position: relative;
  height: 100px;
  padding-top: 15px;
  padding-left: 15px;
  background: linear-gradient(135.62deg, #f6f7fd 22.27%, rgba(255, 255, 255, 0.86) 91.82%);
  border-radius: 2px;
  box-shadow: 0 4px 18px #efefef;

  .firmwareDetailCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .firmwareDetailCardTitle {
      color: rgba(0, 0, 0, 0.64);
      font-size: 14px;
    }

    .firmwareDetailCardRight {
      z-index: 2;
      display: flex;
      align-items: center;
      margin-right: 10px;
      .firmwareDetailCardRefresh {
        width: 25px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  .firmwareDetailCardNum {
    font-size: 36px;
  }

  .firmwareDetailCardImg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
  }
}
