@import '../../../node_modules/antd/lib/style/themes/variable';

.box {
  display: flex;

  .item {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    cursor: pointer;

    &.active {
      color: @primary-color-active;
    }

    &:hover {
      color: @primary-color-hover;
    }
  }
}
