@import '~antd/es/style/themes/default.less';

.actions-items {
  padding: 26px 24px 12px 24px;
  background-color: #fafafa;

  .actions-item {
    .actions-item-title {
      padding-bottom: 18px;
    }

    &:not(:first-child) {
      margin-top: 18px;
    }

    .template-variable {
      margin-top: 12px;
    }
  }
}

.actions {
  .actions-title {
    margin: 16px 0;
    font-weight: 800;
    font-size: 14px;
  }

  .actions-warp {
    .actions-list {
      width: 100%;
    }
  }
}
