.rule-button-warp {
  padding: 8px;
  background-color: #fafafa;
  cursor: pointer;

  .rule-button {
    padding: 6px 20px;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
  }

  .add-button {
    color: #bdbdbd;
  }
}
