.topCard {
  display: flex;
  align-items: center;
  width: 100%;

  .text {
    margin-left: 10px;
    .p1 {
      min-width: 130px;
      height: 22px;
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }

    .p2 {
      min-width: 130px;
      height: 20px;
      color: rgba(0, 0, 0, 0.75);
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
