.message-status {
  padding: 8px 24px;
}
.content {
  width: 100%;
}

.dialog {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  padding: 24px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f2f5f7;
}

.function {
  padding: 15px;
  background-color: #e7eaec;

  .function-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .function-item-form {
      width: 80%;
      min-width: 500px;
    }
    .function-item-btn {
      min-width: 65px;
    }
  }

  .inputs-parameter {
    margin: 15px 0;
  }
}
