@font-face {
  font-family: "iconfont"; /* Project id 3183515 */
  src: url('iconfont.woff2?t=1663644110050') format('woff2'),
       url('iconfont.woff?t=1663644110050') format('woff'),
       url('iconfont.ttf?t=1663644110050') format('truetype'),
       url('iconfont.svg?t=1663644110050#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-details:before {
  content: "\e61f";
}

.icon-wenjian:before {
  content: "\e6bc";
}

.icon-shangchuanwenjian:before {
  content: "\e6bd";
}

.icon-daoru:before {
  content: "\e6b6";
}

.icon-daochu:before {
  content: "\e6b7";
}

.icon-jihuo:before {
  content: "\e6b8";
}

.icon-tingyong1:before {
  content: "\e6b9";
}

.icon-tongbu:before {
  content: "\e6ba";
}

.icon-chongzhi:before {
  content: "\e6bb";
}

.icon-tingyong:before {
  content: "\e6b5";
}

.icon-guanji_huaban:before {
  content: "\e643";
}

.icon-wulianka:before {
  content: "\e6b1";
}

.icon-pingtaiduijie:before {
  content: "\e6b2";
}

.icon-wuliankaguanli:before {
  content: "\e6b3";
}

.icon-chongzhiguanli:before {
  content: "\e6b4";
}

.icon-bangding:before {
  content: "\e615";
}

.icon-xieyimoban:before {
  content: "\e732";
}

.icon-yingyongguanli:before {
  content: "\e6b0";
}

.icon-jinggao:before {
  content: "\e620";
}

.icon-tishi:before {
  content: "\e8ba";
}

.icon-chakanAPI:before {
  content: "\e6af";
}

.icon-fuquan:before {
  content: "\e689";
}

.icon-zhongzhimima:before {
  content: "\e69b";
}

.icon-denggao:before {
  content: "\e68a";
}

.icon-gengduo:before {
  content: "\e68e";
}

.icon-jinyong:before {
  content: "\e68f";
}

.icon-fenpingzhanshi1:before {
  content: "\e690";
}

.icon-jiebang:before {
  content: "\e691";
}

.icon-tiaoshi:before {
  content: "\e692";
}

.icon-shangyi:before {
  content: "\e693";
}

.icon-lujing:before {
  content: "\e694";
}

.icon-rili:before {
  content: "\e697";
}

.icon-shanchu:before {
  content: "\e698";
}

.icon-renyuan:before {
  content: "\e699";
}

.icon-xiazai:before {
  content: "\e69a";
}

.icon-shezhi:before {
  content: "\e69c";
}

.icon-bianji:before {
  content: "\e69d";
}

.icon-zhankai-2:before {
  content: "\e69f";
}

.icon-xiayi:before {
  content: "\e6a0";
}

.icon-chuli:before {
  content: "\e6a4";
}

.icon-zichan:before {
  content: "\e6a5";
}

.icon-zhongxinxiafa:before {
  content: "\e6a6";
}

.icon-tianjia:before {
  content: "\e6a7";
}

.icon-chakan:before {
  content: "\e6a8";
}

.icon-zuidahua:before {
  content: "\e6a9";
}

.icon-anniuguanli:before {
  content: "\e6aa";
}

.icon-zhankai-1:before {
  content: "\e6ab";
}

.icon-tongzhijilu:before {
  content: "\e6ac";
}

.icon-shuxingpeizhi:before {
  content: "\e6ad";
}

.icon-xiaoxi:before {
  content: "\e6ae";
}

.icon-fabu:before {
  content: "\e688";
}

.icon-guojijilian:before {
  content: "\e68b";
}

.icon-quanxianguanli:before {
  content: "\e68c";
}

.icon-jiaoseguanli:before {
  content: "\e68d";
}

.icon-xuanzetongdao1:before {
  content: "\e695";
}

.icon-a-Frame3323:before {
  content: "\e696";
}

.icon-yonghuguanli:before {
  content: "\e69e";
}

.icon-bumenguanli:before {
  content: "\e6a1";
}

.icon-caidanguanli:before {
  content: "\e6a2";
}

.icon-bangzhu:before {
  content: "\e6a3";
}

.icon-xuanzetongdao:before {
  content: "\e687";
}

.icon-Vector:before {
  content: "\e685";
}

.icon-Union:before {
  content: "\e686";
}

.icon-shebeigaojing:before {
  content: "\e680";
}

.icon-chanpinfenlei1:before {
  content: "\e681";
}

.icon-bianyuanwangguan:before {
  content: "\e682";
}

.icon-wuguanli:before {
  content: "\e683";
}

.icon-yunyunjieru:before {
  content: "\e684";
}

.icon-yunweiguanli:before {
  content: "\e67c";
}

.icon-wulianwang:before {
  content: "\e67d";
}

.icon-shebeiguanli:before {
  content: "\e67e";
}

.icon-xitongguanli1:before {
  content: "\e67f";
}

.icon-xitongguanli:before {
  content: "\e675";
}

.icon-yunweiguanli-1:before {
  content: "\e67b";
}

.icon-shujumoni:before {
  content: "\e665";
}

.icon-tongzhiguanli:before {
  content: "\e666";
}

.icon-rizhifuwu:before {
  content: "\e667";
}

.icon-keshihua:before {
  content: "\e668";
}

.icon-yuanchengshengji:before {
  content: "\e669";
}

.icon-shebei:before {
  content: "\e66a";
}

.icon-wangluozujian:before {
  content: "\e66b";
}

.icon-shipinwangguan:before {
  content: "\e66c";
}

.icon-wumoxing:before {
  content: "\e66d";
}

.icon-wangguanzishebei:before {
  content: "\e66e";
}

.icon-zhihuishequ:before {
  content: "\e66f";
}

.icon-chanpinfenlei:before {
  content: "\e670";
}

.icon-zhengshuguanli:before {
  content: "\e671";
}

.icon-zhihuigongye:before {
  content: "\e672";
}

.icon-chanpin:before {
  content: "\e673";
}

.icon-changjingliandong:before {
  content: "\e674";
}

.icon-zhilianshebei:before {
  content: "\e676";
}

.icon-zidingyiguize:before {
  content: "\e677";
}

.icon-zhihuichengshi:before {
  content: "\e678";
}

.icon-chajianguanli:before {
  content: "\e679";
}

.icon-zhihuiyuanqu:before {
  content: "\e67a";
}

.icon-a-Frame2126:before {
  content: "\e662";
}

