.homeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
  background-color: white;
}
.title {
  margin-top: 48px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 80%;
    margin-bottom: 10px;
  }
}
