@import '~antd/es/style/themes/default.less';

.homeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
  padding: 20px;
  background-color: white;
}

.title {
  margin-top: 28px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.active {
    border: 2px solid @primary-color-active;
  }

  img {
    width: 100%;
  }
}
