.container {
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;

  .action {
    position: relative;
    display: flex;
    justify-content: center;

    .more {
      position: absolute;
      top: 0;
    }

    .simple {
      right: 0;
    }

    .advance {
      right: -150px;
    }

    :global {
      .ant-space-align-center {
        align-items: normal;
      }
    }
  }

  .form {
    :global {
      .ant-formily-item {
        margin-bottom: 12px;
      }
    }
  }

  .simple {
    display: flex;
    flex-direction: row;

    :global {
      .ant-formily-grid-layout {
        width: 550px;
        height: 40px;
      }

      .ant-formily-item {
        margin-bottom: 0;
      }
    }
  }

  .history {
    width: 176px;

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 148px;
    }
  }
}

.saveLog {
  width: 100%;
  margin-top: 5px;
}
