.container {
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;

  .action {
    position: relative;
    display: flex;
    justify-content: center;

    .more {
      position: absolute;
      top: 0;
    }

    .simple {
      right: 0;
    }

    .advance {
      right: -150px;
    }

    :global {
      .ant-space-align-center {
        align-items: normal;
      }
    }
  }
  .small-action {
    gap: 48px;
    justify-content: flex-start;
    width: 100%;

    .more {
      position: relative;
    }

    .advance {
      right: 0;
    }
  }

  .form {
    :global {
      .ant-formily-item {
        margin-bottom: 12px;
      }
    }
  }

  .simple {
    display: flex;
    flex-direction: row;

    :global {
      .ant-formily-grid-layout {
        width: 550px;
        height: 40px;
      }

      .ant-formily-item {
        margin-bottom: -24px;
      }
    }
  }

  .small-size {
    flex-wrap: wrap;
    :global {
      .ant-formily-grid-layout {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
        width: 100%;
      }
      .ant-formily-item {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }

  .history {
    width: 176px;
  }
}
.list {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 148px;
}

.list-text {
  flex: 1 1 auto;
}
.saveLog {
  width: 100%;
  margin-top: 5px;
}
