.cards{
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-grow: 1;
}