.view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title{
        height: 100px;
        line-height:100px;
        margin-left: 3%;
    }
    .device{
        height: 500px;
        width: 100%;
        border-top: 1px #d4d4d4 solid;
        .device-pie{
            height:400px;
            width: 100%;
        }
    }
    .alarm{
        .alarmNumber{
            margin: 15px auto;
            color: #777;
        }
        width: 100%;
        border-top: 1px #d4d4d4 solid;
        .alarmChart{
            height:400px;
            width: 100%;
        }
    }
    .state{
        height: 400px;
        width: 100%;
        border-top: 1px #d4d4d4 solid;
        .statePie{
            height:400px;
            width: 100%;
            display: flex;
        }
    }
}