
ul,li{
    list-style: none;
}

h1,h3{
   text-align: left; 
   margin-left: 16px;
}

.filter{
   display: flex;
   justify-content:flex-end;
   margin-right: 16px;
}

.container{
    margin: 16px;
    padding:16px;
    background-color: #f2f2f2;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}