.media-live {
  .live-player-tools {
    flex-basis: 230px;

    .direction-item {
      font-size: 30px !important;
    }

    .zoom-item {
      font-size: 20px !important;
    }
  }
}

.media-live-tool {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
