:global {
  .ant-pagination-item {
    display: none;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  :global {
    .ant-card {
      margin-bottom: 0 !important;
      border: none !important;
    }

    .ant-formily-item-feedback-layout-loose {
      margin-bottom: 0 !important;
    }

    .ant-card-body {
      padding: 24px !important;
    }
  }
}
