@import '~antd/es/style/themes/default.less';

.trigger-way-warp {
  display: flex;
  gap: 24px;
  width: 100%;

  .trigger-way-item {
    display: flex;
    padding: 22px 16px;
    border: 1px solid #e0e4e8;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;

    .way-item-title {
      p {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 16px;
      }

      span {
        color: rgba(#000, 0.24);
        font-size: 12px;
      }
    }

    .way-item-image {
      margin-left: 26px;
    }

    &:hover {
      color: @primary-color-hover;
    }

    &.active {
      border-color: @primary-color-active;
    }
  }

  &.disabled {
    .trigger-way-item {
      cursor: not-allowed;
    }
  }
}
