.images {
  width: 64px;
  height: 64px;
  color: white;
  font-size: 12px;
  line-height: 64px;
  text-align: center;
  background: linear-gradient(
    128.453709216706deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(113, 187, 255, 1) 43%,
    rgba(24, 144, 255, 1) 100%
  );
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 50%;
}

.desc {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  width: '100%';
  margin-bottom: 10px;
  overflow: hidden;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title::before {
  margin-right: 10px;
  background-color: #2810ff;
  content: '|';
}
