.init {
  width: 100%;
  height: 100vh;
  padding: 64px 128px;
  overflow: hidden;
  background-image: url('/images/init-home/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .box {
    width: 100%;
    height: 100%;
    background: white;
  }
}
