.init {
  width: 100%;
  height: 100vh;
  padding: 32px 128px 64px 128px;
  overflow: hidden;
  background-image: url('/images/init-home/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .box {
    width: 100%;
    height: 100%;
    padding: 24px;
    background: white;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .left {
        width: 30px;
        height: 100%;
      }

      .right {
        width: calc(100% - 50px);
        height: 1200px;

        .collapseTitle {
          display: flex;
          font-size: 14px;
          opacity: 0.85;

          .collapseDesc {
            margin-top: 2px;
            margin-left: 8px;
            color: #666;
            font-size: 12px;
            opacity: 0.85;
          }
        }
      }
    }
  }
}
