@import '../../../node_modules/antd/lib/style/themes/variable';

.pro-table-card {
  position: relative;

  .pro-table-card-setting-item {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: @primary-color-hover;
    }

    &.active {
      color: @primary-color-active;
    }
  }

  .pro-table-card-items {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(4, 1fr);
    //display: flex;
    //flex-wrap: wrap;
    padding-bottom: 38px;

    .pro-table-card-item {
      display: flex;

      .card-item-avatar {
        margin-right: 16px;
      }

      .card-item-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 0;

        .card-item-header {
          display: flex;
          width: 100%;
          margin-bottom: 12px;

          .card-item-header-name {
            flex: 1;
            font-weight: bold;
            font-size: 16px;
          }
        }

        .card-item-content {
          display: flex;

          > span {
            flex: 1;
          }
        }
      }
    }
  }

  .pro-table-card-pagination {
    position: absolute;
    right: 24px;
    bottom: 24px;

    > .ant-pagination-item {
      display: none;
    }
  }
}
