.value {
  display: flex;
  align-items: center;
  width: 100%;

  .cardValue {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;
    color: #323130;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;

    img {
      width: 60px;
    }
  }

  .otherValue {
    img {
      width: 40px;
    }
  }
}
